.marquee {
  height: 45px;
  display: block;
  overflow: hidden;
  background: #fff;
  margin: 2em 0;
  text-align: left;
  padding: 0.2em 2em 0;
  position: relative;
  min-height: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  @media (max-width: 991px) {
    margin: 1.5em 0em;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .slick-prev {
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
    right: 1px !important;
    top: 1px !important;
    left: auto;
    opacity: 0.5;
    background: url('../vendor/slick/icon_arrow_up_s.png') no-repeat center center;
    background-size: 16px;
    width: 20px !important;
    height: 20px !important;
    box-shadow: none;
    &:hover,
    &:focus {
      opacity: 1;
    }
    &:before {
      width: 10px !important;
      height: 10px !important;
    }
  }
  .slick-next {
    width: 10px;
    height: 10px;
    transform: rotate(-90deg);
    right: 0px !important;
    top: 19px !important;
    left: auto;
    opacity: 0.5;
    width: 20px !important;
    height: 20px !important;
    background: url('../vendor/slick/icon_arrow_up_s.png') no-repeat center center;
    background-size: 16px;
    box-shadow: none;
    &:hover,
    &:focus {
      opacity: 1;
    }
    &:before {
      width: 10px !important;
      height: 10px !important;
    }
  }
  > div {
    padding: 0;
    margin: 0;
  }
  a {
    display: block;
    line-height: 40px;
    margin-right: 3em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    text-decoration: none;
    font-size: 1.125rem;
    span {
      color: $lightColor;
      margin-right: 15px;
      display: none;
    }
    &:hover {
      color: $linkColor;
    }
  }
}
